<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Penguin Books</title>

        <script src="../static/js/list.js" type="text/javascript"></script>
    </head>

    <body>
        <header>
            <h1>Penguin Books List</h1>
            <nav></nav>
        </header>

        <body>
            {{{body}}}
        </body>

        <footer>
            <h1>Created by me</h1>
            <address></address>
        </footer>
    </body>
</html>