<h1>{{title}}</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Edit</th>
        </tr>
    </thead>


    {{#each books}}

    <tr>
        <td style="color:red;">{{title}}</td>
        <td>Author: {{author}}</td>
        <td><a href="./edit/{{id}}">Edit</a></td>
    </tr>

    {{/each}}

</table>